* {
    font-family: 'Arial', serif;
}

.wwc-container {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #f8f4ef;
}

.wwc-header {
    display: flex;


    background-image: url('../images/bagimg.png');
    background-image: url('https://img.freepik.com/free-photo/recycle-concept-with-box-rubbish_23-2147825494.jpg?ga=GA1.1.831887527.1728798221&semt=ais_hybrid-rr-similar');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;

}

.wwc-header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}





.header-text {
    font-weight: 800;
    z-index: 2;
    font-size: 4em;
}

.middle {
    margin: 50px;
    padding: 10px;
}

.wwc-info {
    margin-bottom: 50px;
}

.wwc-info h2 {
    color: #1D3466;
    font-size: 2.7em;
    margin-bottom: 20px;
    margin-top: 20px;
    animation: fadeInDown 1s ease-in-out;
    font-weight: 600;

}

.wwc-info p {
    font-size: 1.1em;
    color: #555;
    animation: fadeIn 1s ease-in-out;
    font-family: 'Arial', sans-serif;
    margin: 30px;


}



.wwc-items-wrap {
    margin: 10;
    justify-content: center;
    justify-content: space-evenly;
    row-gap: 30px;
    display: flex;
    flex-wrap: wrap;

}

.wwc-item {
    display: flex;
    width: 600px;
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
    transition: transform 0.2s ease-in-out;
    background-color: rgb(246, 234, 203, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);



}

.wwc-item:hover {
    transform: scale(1.02);
}

.item-img-wrap img,
.plus-img-wrap img {
    height: 250px;
    width: 250px;
    border-radius: 100%;
}

.item-info {
    margin: 20px;

}

.item-info h3 {
    margin: 10px;
    color: #1D3466;
    font-size: larger;

}

.item-info p {
    margin: 20px;
    font-size: medium;
}

.plus {
    justify-content: center;
    display: flex;
    margin: 20px;
    margin-top: 6rem;
}

.plus-wrap {
    display: flex;
    justify-self: center;
    justify-content: space-evenly;
    align-items: center;
}

.plus-img-wrap {
    width: 35%;
    height: 150%;
}

.plus-img-wrap img {
    width: 100%;
    height: 100%;
}


.plus-text h1 {
    color: #1D3466;
    font-size: 48px;

}

.plus-text p {
    margin-top: 20px;
    font-size: 22px;
}

@media only screen and (max-width: 740px) {
    .wwc-container {
        overflow: hidden;
    }

    .wwc-item {
        display: block;
    }

    .item-img-wrap {
        width: 100%;
        padding: 10px;
    }

    .middle {
        margin: 5px;
        padding: 5px;
    }

    .plus {
        width: 100%;
        margin: auto;
        margin: 50px;
        padding: 0;
    }

    .plus-wrap {
        display: block;
    }

    .plus-img-wrap {
        width: 100%;
    }
}