* {
    font-family: 'Arial', serif;
}

.wwc-container {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #f8f4ef;
}

.wwc-header {
    display: flex;

<<<<<<< HEAD
    background-image: url('../images/bagimg.png');
=======
    /* background-image: url('https://img.freepik.com/premium-photo/promoting-waste-recycling-with-green-leaves-recycling-symbol-natural-settings_1113325-9820.jpg'); */
    background-image: url('https://img.freepik.com/free-photo/recycle-concept-with-box-rubbish_23-2147825494.jpg?ga=GA1.1.831887527.1728798221&semt=ais_hybrid-rr-similar');
>>>>>>> origin/main
    background-size: cover;
    /* Ensures the image covers the entire section */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    height: 80vh;
    /* Full viewport height */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    color: white;
    /* text-align: center; */
    position: relative;

}

.wwc-header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    /* Black overlay with 50% opacity */
    z-index: 1;
    /* Keeps the overlay behind the text */
}





.header-text {
    font-weight: 800;
    z-index: 2;
    font-size: 4em;
}

.middle {
    margin: 50px;
    padding: 10px;
}

.wwc-info {
    margin-bottom: 50px;
}

.wwc-info h2 {
    color: #1D3466;
    font-size: 2.7em;
    margin-bottom: 20px;
    margin-top: 20px;
    animation: fadeInDown 1s ease-in-out;
    font-weight: 600;

}

.wwc-info p {
    font-size: 1.1em;
    color: #555;
    animation: fadeIn 1s ease-in-out;
    font-family: 'Arial', sans-serif;
    margin: 30px;


}



.wwc-items-wrap {
    margin: 10;
    justify-content: center;
    justify-content: space-evenly;
    row-gap: 30px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: flex-start; */

}

.wwc-item {
    display: flex;
    width: 600px;
    border: #D3D3D3 solid;
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
    transition: transform 0.2s ease-in-out;
    background-color: seashell;


}

.wwc-item:hover {
    transform: scale(1.02);
}

.item-img-wrap img,
.plus-img-wrap img {
    height: 250px;
    width: 250px;
    border-radius: 100%;
}

.item-info {
    margin: 20px;

}

.item-info h3 {
    margin: 10px;
    color: #1D3466;
    font-size: larger;

}

.item-info p {
    margin: 20px;
    font-size: medium;
}

.plus {
    justify-content: center;
    /* width: 50vw; */
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.plus-wrap {
    display: flex;
    justify-self: center;
    width: 600px;
    margin: 15px;
    padding-right: 50px;
}

.plus-text {
    margin: 20px;
}

.plus-text h1 {
    color: #1D3466;

}

.plus-text p {

    margin: 20px;
    font-size: medium;
}

@media only screen and (max-width: 740px) {
    .wwc-container {
        overflow: hidden;
    }

    .wwc-item {
        display: block;
    }

    .item-img-wrap {
        width: 100%;
        padding: 10px;
    }

    .middle {
        margin: 5px;
        padding: 5px;
    }

    .plus {
        width: 100%;
        margin: auto;
        margin: 50px;
        padding: 0;
    }

    .plus-wrap {
        display: block;
    }

    .plus-img-wrap {
        width: 100%;
    }
}
